# Dependencies
node_modules/
dist/

# Environment
.env
.env.local
.env.*


# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/

# Testing
coverage/

# Docker volumes
docker/grafana/data
docker/prometheus/data
docker/mongodb/data
docker/grafana/*
docker/prometheus/*

# System Files
.DS_Store
Thumbs.db